<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaper</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-style.css}"/>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<body>
<h2 class="title">Hello world!</h2>
<br><br>

    <label for="login" >Login</label>
    <input type="text" id="login"/>
    <br>
    <label for="password" >Password</label>
    <input type="text" id="password"/>
    <br>
    <label for="role" >Role</label>
    <input type="text" id="role"/>
    <br>
    <button onclick="sendJSON()">Add</button>

<!-- скрипт, который обработает нажатие на кнопку и отправит данные на сервер -->
<script>
    // эта функция сработает при нажатии на кнопку
    function sendJSON() {
        // с помощью jQuery обращаемся к элементам на странице по их именам
        let login = document.querySelector('#login');
        let password = document.querySelector('#password');
        let role = document.querySelector('#role');
        // а вот сюда мы поместим ответ от сервера
        let result = document.querySelector('.result');
        // создаём новый экземпляр запроса XHR
        let xhr = new XMLHttpRequest();
        // адрес, куда мы отправим нашу JSON-строку
        let url = "http://localhost:3245/api/users";
        // открываем соединение
        xhr.open("POST", url, true);
        // устанавливаем заголовок — выбираем тип контента, который отправится на сервер, в нашем случае мы явно пишем, что это JSON
        xhr.setRequestHeader("Content-Type", "application/json");
        // когда придёт ответ на наше обращение к серверу, мы его обработаем здесь
        // xhr.onreadystatechange = function () {
        //     // если запрос принят и сервер ответил, что всё в порядке
        //     if (xhr.readyState === 4 && xhr.status === 200) {
        //         // выводим то, что ответил нам сервер — так мы убедимся, что данные он получил правильно
        //         result.innerHTML = this.responseText;
        //     }
        // };
        // преобразуем наши данные JSON в строку
        var data = JSON.stringify({ "login": login.value, "password": password.value, "role": role.value });
        // когда всё готово, отправляем JSON на сервер
        xhr.send(data);
    }
</script>

<!--Вывод всех на экран-->
<!--<div th:each="user : ${users}">-->
<!--    <h1 th:text="${user.login}" />-->
<!--    <h1 th:text="${user.role}" />-->
<!--    <h1 th:text="${user.secondName}" />-->
<!--</div>-->

</body>
</html>